#conteudo{
    padding-top: 100px;
    display: flex;
    background-color: white;
    width: 100%;
    height: 85vh;
    color: black;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;    
    position: relative;  
}
#pedidos{
    position: absolute;
    margin-left: 60vh;
}
h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: black;
    text-shadow: 5px 5px 5px #DDDD;
}
#pedido1{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
#pedido2{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;

}
#pedido3{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.enviar {
    background-color: #A8A8A8;
    height: 40px;
    width: 300px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;      
}
input:hover, textarea:hover, input:focus, textarea:focus {
    border: solid black 2px;
    background-color: #FFD15A;
    color: black;
    font-weight: bold;
}
input:hover::placeholder { color: black;}
textarea:hover::placeholder{color: black;}
